li {
    padding: 5px;
    margin: 5px;
    background: none;
    color: orangered;
  }
  
  .label {
    font-weight: bold;
  }
  
  .create-update-form {
    padding: 5px;
    margin: 5px;
    background: chartreuse;
  }
  
  .form-group {
    margin-bottom: 5px;
  }
  
  body{
    color: white;
    background-color: orange;
  }